<li class="search" role="search">
<a class="fa-search" href="#search">Search</a>
<form id="search" method="get" action="#">
  <input type="text" class="text" placeholder="Search" value="{{ query }}" data-search-input="{{ base_url_relative }}{{ config.plugins.simplesearch.route}}/query" />
</form>
</li>
