{% extends 'partials/snipcart_base.html.twig' %}

{% block content %}

    {{ parent() }}
<article class="box post post-excerpt">
  <header>
    <div class="title">
    <h2>{{ page.header.title }}</h2>    
    </div>
    <div class="meta">                            
    </div>
    </header>
        {{ page.content }}
</article>
<article class="box alt">
    <section>
        <div class="row-uniform mini-posts">
        {% for child in page.collection() %}
            {% if (child.header.unpublished is not defined or (child.header.unpublished == false)) %}
                {% include 'partials/snipcart_category_item.html.twig' with {'page': child, 'parent': page} %}
            {% endif %}
        {% endfor %}
        </div>
    </section>
</article>
{% endblock %}
